html,body{
     height: 100%;
     width: 100%;
     margin: 0%;
     padding: 0%;
}

.Loader{
     height: 100%;
     width: 100%;
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
}

.Line{
     display: inline-block;
     width: 10px;
     height: 50px;
     background-color: lightgray;
     border-radius: 10px;
     animation: Scale-Up 1s linear infinite;
}

.Line:nth-child(2){
     margin:  0 5px;
     /*width: 60px;*/
     animation-delay:0.25s;
}

.Line:nth-child(3){
     animation-delay: 0.5s;
}

@keyframes Scale-Up{
     20%{
          background-color: white;
          transform: scaleY(1.5);
     }

     40%{
          transform: scaleY(1);
     }
}